# Mongo
MONGODB_URI="mongodb+srv://<user>:<pass>@<cluster>/<db>?retryWrites=true&w=majority"
MONGODB_DB="ducsu2025"

# Auth / Security
JWT_SECRET="replace-with-long-random-string"
ADMIN_API_KEY="paste-a-strong-random-key"

# Misc
NEXT_PUBLIC_SITE_NAME="DUCSU Election 2025"
